.cart {
    background: #000;
    display: none;
    padding: 32px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 200px;
  }
  
  .cart img {
    aspect-ratio: 16/9;
    width: 100%;
  }
  
  .cart li {
    border-bottom: 1px solid #444;
    padding-bottom: 16px;
  }
  
  .cart footer {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  
  .cart footer button {
    padding: 8px;
  }
  
  .cart-button {
    align-items: center;
    background: #09f;
    border-radius: 9999px;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 4px;
    position: absolute;
    right: 8px;
    top: 8px;
    transition: all .3s ease;
    width: 32px;
    z-index: 9999;
  }
  
  .cart-button:hover {
    scale: 1.1;
    background: #49ec30;
  }

  .cart-button-full {
    scale: 1.1;
    background: #49ec30;
  }
  
  .cart-button ~ input:checked ~ .cart {
    height: 100%;
    display: block;
  }


.cart p {
  margin-top: 20px; /* Ajusta según sea necesario */
}

.cart p span {
  border: 2px solid #ccc; /* Color del borde - ajusta según sea necesario */
  border-radius: 8px; /* Bordes redondeados - ajusta según sea necesario */
  padding: 12px; /* Espaciado interno - ajusta según sea necesario */
  display: inline-block; /* Para que el borde no ocupe el ancho completo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra - ajusta según sea necesario */
  font-weight: bold; /* Texto en negrita */
}